# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
.installed.cfg

# Translations
*.mo
*.pot

# Environments
.env
.venv
env.bak/
venv.bak/

# Poetry
poetry.lock

# NPM
node_modules/
package-lock.json
npm-debug.log*

# Frontend build
frontend/static/css/tailwind.css
frontend/static/js/htmx.min.js

# VS Code
.vscode/
*.code-workspace

# Operating System specific files
.DS_Store
Thumbs.db

# Other files
*.swp
*.bak
*.tmp
*~
