{{ iconFancy(name="cloud-drizzle", size="md", class="") }}
{{ iconFancy(name="cloud-fog", size="md") }}
{{ iconFancy(name="cloud-hail", size="md") }}
{{ iconFancy(name="cloud-lightning", size="md") }}
{{ iconFancy(name="cloud-moon-rain", size="md") }}
{{ iconFancy(name="cloud-moon", size="md") }}
{{ iconFancy(name="cloud-off", size="md") }}
{{ iconFancy(name="cloud-rain-wind", size="md") }}
{{ iconFancy(name="cloud-rain", size="md") }}
{{ iconFancy(name="cloud-snow", size="md") }}
{{ iconFancy(name="cloud-sun-rain", size="md") }}
{{ iconFancy(name="cloud-sun", size="md") }}
{{ iconFancy(name="cloud", size="md") }}                
{{ iconFancy(name="cloudy", size="md") }}
{{ iconFancy(name="droplet", size="md") }}
{{ iconFancy(name="droplets", size="md") }}
{{ iconFancy(name="snowflake", size="md") }}
{{ iconFancy(name="sun-snow", size="md") }}
{{ iconFancy(name="sun", size="md") }}
{{ iconFancy(name="sunrise", size="md") }}
{{ iconFancy(name="sunset", size="md") }}
{{ iconFancy(name="thermometer-snowflake", size="md") }}
{{ iconFancy(name="thermometer-sun", size="md") }}
{{ iconFancy(name="thermometer", size="md") }}
{{ iconFancy(name="tornado", size="md") }}
{{ iconFancy(name="umbrella-off", size="md") }}
{{ iconFancy(name="umbrella", size="md") }}
{{ iconFancy(name="wind", size="md") }}
{{ iconFancy(name="flame", size="md") }}
{{ iconFancy(name="haze", size="md") }}
{{ iconFancy(name="moon-star", size="md") }}
{{ iconFancy(name="rainbow", size="md") }}
{{ iconFancy(name="sparkles", size="md") }}
{{ iconFancy(name="star", size="md") }}
{{ iconFancy(name="sun-dim", size="md") }}
{{ iconFancy(name="sun-medium", size="md") }}
{{ iconFancy(name="waves", size="md") }}
{{ iconFancy(name="zap-off", size="md") }}
{{ iconFancy(name="zap", size="md") }}
{{ iconFancy(name="feather", size="md") }}

{{ iconFancy(name="info", size="md") }}
{{ iconFancy(name="check-circle", size="md") }}
{{ iconFancy(name="alert-circle", size="md") }}
{{ iconFancy(name="alert-triangle", size="md") }}
{{ iconFancy(name="box", size="md") }}
{{ iconFancy(name="carrot", size="md") }}
{{ iconFancy(name="cherry", size="md") }}
{{ iconFancy(name="chef-hat", size="md") }}
{{ iconFancy(name="cat", size="md") }}
{{ iconFancy(name="fish", size="md") }}
{{ iconFancy(name="info", size="md") }}
{{ iconFancy(name="check-circle", size="md") }}
{{ iconFancy(name="alert-circle", size="md") }}
{{ iconFancy(name="alert-triangle", size="md") }}
{{ iconFancy(name="box", size="md") }}
{{ iconFancy(name="carrot", size="md") }}
{{ iconFancy(name="cherry", size="md") }}
{{ iconFancy(name="chef-hat", size="md") }}
{{ iconFancy(name="cat", size="md") }}
{{ iconFancy(name="fish", size="md") }}
{{ iconFancy(name="info", size="md") }}
{{ iconFancy(name="check-circle", size="md") }}
{{ iconFancy(name="alert-circle", size="md") }}
{{ iconFancy(name="alert-triangle", size="md") }}
{{ iconFancy(name="box", size="md") }}
{{ iconFancy(name="carrot", size="md") }}
{{ iconFancy(name="cherry", size="md") }}
{{ iconFancy(name="chef-hat", size="md") }}
{{ iconFancy(name="cat", size="md") }}
{{ iconFancy(name="fish", size="md") }}
{{ iconFancy(name="info", size="md") }}
{{ iconFancy(name="check-circle", size="md") }}
{{ iconFancy(name="alert-circle", size="md") }}
{{ iconFancy(name="alert-triangle", size="md") }}
{{ iconFancy(name="box", size="md") }}
{{ iconFancy(name="carrot", size="md") }}
{{ iconFancy(name="cherry", size="md") }}
{{ iconFancy(name="chef-hat", size="md") }}
{{ iconFancy(name="cat", size="md") }}
{{ iconFancy(name="fish", size="md") }}