<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8" class="dark scroll-smooth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caelus</title>
    <link href="/static/css/tailwind.css" rel="stylesheet">
    <script src="/static/js/htmx.min.js"></script>
</head>
<body class="dark:bg-stone-950 text-gray-200 min-h-screen flex flex-col">
    <!-- HEADER -->
    <header class="dark:bg-zinc-800 border border-neutral-950 m-4 p-4 rounded-md shadow-lg shadow-black">
        <h1 class="text-xl font-bold">Caelus</h1>
    </header>

    <!-- MAIN -->
    <main class="flex-1 m-4 flex flex-col gap-4">
        <!-- GEOCODE DATA ROW -->
        <div class="dark:bg-zinc-800 border border-neutral-950 p-4 rounded-md shadow-lg shadow-black">
            <h2 class="font-semibold">Geocode Data</h2>
            <div id="geocode" hx-get="/geocode?address=1928+Lake+Isle+Drive%2C+Eugene%2C+OR%2C+97401" hx-trigger="load" hx-swap="outerHTML">
                Loading geocode data...
            </div>
        </div>

        <!-- WEATHER DATA ROW -->
        <div class="dark:bg-zinc-800 border border-neutral-950 p-4 rounded-md shadow-lg shadow-black">
            <h2 class="font-semibold">Weather Data</h2>
            <div id="weather" hx-get="/weather?latitude=44.0868&longitude=-123.1096" hx-trigger="load" hx-swap="outerHTML">
                Loading weather data...
            </div>
        </div>
    </main>

    <!-- FOOTER -->    
    <footer class="dark:bg-zinc-800 border border-neutral-950 m-4 p-4 rounded-md shadow-lg shadow-black">
        <p class="text-center">Footer</p>
    </footer>
</body>
</html>