
<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8" class="dark scroll-smooth">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caelus</title>
    <link href="/static/css/tailwind.css" rel="stylesheet">
</head>
<body class="dark:bg-gray-800 container mx-auto my-4 p-4 font-medium">
    <header class="bg-blue-500 p-4 min-h-[10rem]">
        <div class="bg-purple-500 p-3 flex justify-between items-center h-full">
            <div class="bg-green-500 p-2 min-h-[3rem]">LOGO</div>
            <div class="flex h-full">
                <i class="bg-green-500 p-2 min-h-[3rem]">A</i>
                <i class="bg-green-500 p-2 min-h-[3rem]">A</i>
                <i class="bg-green-500 p-2 min-h-[3rem]">A</i>
                <i class="bg-green-500 p-2 min-h-[3rem]">A</i>
            </div>
            <div class="bg-green-500 p-2 min-h-[3rem] flex-grow h-full">CURRENT WEATHER</div>
        </div>
    </header>
    <main class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4">
        <section class="bg-blue-500 p-4 col-span-1 min-h-[8rem]">
            <article class="bg-purple-500 p-3 h-full">
                <div class="bg-green-500 p-2 h-full">WIND</div>
            </article>
        </section>
        <section class="bg-blue-500 p-4 col-span-1 min-h-[8rem]">
            <article class="bg-purple-500 p-3 h-full">
                <div class="bg-green-500 p-2 h-full">PRECIPITATION</div>
            </article>
        </section>
        <section class="bg-blue-500 p-4 col-span-1 min-h-[8rem]">
            <article class="bg-purple-500 p-3 h-full">
                <div class="bg-green-500 p-2 h-full">FORECAST</div>
            </article>
        </section>
        <section class="bg-blue-500 p-4 col-span-1 md:col-span-2 min-h-[8rem]">
            <article class="bg-purple-500 p-3 h-full">
                <div class="bg-green-500 p-2 h-full">UV INDEX</div>
            </article>
        </section>
        <section class="bg-blue-500 p-4 col-span-1 md:col-span-1 min-h-[8rem]">
            <article class="bg-purple-500 p-3 h-full">
                <div class="bg-green-500 p-2 h-full">CLOUD COVER</div>
            </article>
        </section>
    </main>
    <aside>
        <div>
            <p class="font-sans">                
            </p>
        </div>
        <div>
            <p class="font-serif">                
            </p>
        </div>
        <div>
            <p class="font-mono">                
            </p>
        </div>
    </aside>
</body>
</html>
